
body{
    background-color:rgb(10, 10, 10);
    height: 100vh;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    height:444;
    width:289.4px;
    font-family: "Gotham Rounded", sans-serif;
    background-color: #2D323A;
    padding: 1%;
    border-radius: 4%;
    min-width: 160px;
    overflow: hidden;
}
.row-1{
    margin-top: 5%;
}
.row-2{
    margin-top: 5%;
}
.row-3{
    margin-top: 5%;
}
.row-4{
    margin-top: 5%;
}
.row-5{
    margin-top: 5%;
}
.display-screen{
    background-color: #2b2b2b;
    height: 140px;
    width:289px;
}
button{
    border:0px;
    margin-top:2px;
    height:60px;
    width:69px;
    font-size:30px;
    background-color: transparent;
    color: white;
    
}
#bg{
    background-color: #5B84B0; 
     color:white;
}
button:hover{
    cursor:pointer;
    background-color: #f686a6f5;
    color:white;

}
button:active{
        background-color:#2b2b2b;

}
.special-button{
    width:136px;
    background-color: #5B84B0;
    border-radius:47%;
}

.button-radius{
border-radius: 50%;
background-color:#f686a6f5;
color: #d6164d;
box-shadow: 5px 4px 12px #727070c9;


}
.display{
    color:white;
    font-size:20px;
    float: right;
    margin-right:4px ;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
input{
    width: 90%;
    height: 90%;
    background-color: #2b2b2b;
    border: none;
    color: #FF3B74;
    font-size: 25px;
}