.main {
    position: relative;
    min-width: 160px;
    background: rgba(230, 113, 191, 0.438);
  
      
}
body{
    box-sizing: border-box;
    background-color:rgba(219, 154, 192, 0.521);
    
    background-size: cover;
    background-repeat: no-repeat;
}


